.profile_info {
  &:not(.mobile_profile) {
    position: fixed;
    right: 20px;
    top: 50px;
    padding: 20px 30px;
    background-color: var(--bg-dark);
    border-radius: 15px;
    border: 1px solid var(--clr-alt);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 10px #00000041;
    transform-origin: right;
    transform: translate(0, -100%) scale(0);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &.show {
    transform: translate(0) scale(1);
    opacity: 1;
    pointer-events: all;
  }

  img {
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--bg-light);
    object-fit: cover;
    border: 2px solid var(--clr-alt);
    cursor: pointer;
    transition: 0.2s ease;
  }

  &.mobile_profile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--bg-light);
    border: 1px solid var(--clr-alt);
    z-index: 10;
    --radius: 20px;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0, 100%);
    transition: 0.3s ease;

    &::after {
      position: absolute;
      content: "";
      height: 5px;
      width: 25px;
      background-color: var(--clr-alt);
      border-radius: 100px;
      top: 5px;
      left: 50%;
      transform: translate(-50%);
    }

    &.show {
      transform: translate(0);
    }

    button {
      font-weight: bold;
      margin-top: 25px;
    }
  }

  .username {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 6px;

    span {
      font-size: 18px;
    }
  }

  .email {
    font-size: 14px;
    color: var(--txt-clr-sec);
  }

  button {
    padding: 8px 25px;
    background-color: var(--clr-pri);
    border-radius: 100px;
    border: 1px solid var(--clr-alt);
    color: var(--txt-clr-pri);
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s ease;
    font-family: poppins;
  }
}
