.movie {
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--universal-color);
  background-color: var(--universal-color);
  padding: 15px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 12px 10px -10px var(--bg-darker);
  scroll-snap-align: center;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 30%, var(--bg-darker));
    pointer-events: none;
  }

  &.small {
    min-width: 150px;
    max-width: 150px;
    height: 220px;
    padding: 10px;

    .details {
      .movie_info .info {
        display: none;
      }
    }
  }

  &.medium {
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    padding: 10px;
  }

  &.long {
    min-width: 400px;
    max-width: 400px;
    height: 220px;
  }

  &.wide {
    min-width: 100%;
    max-width: 100%;
    height: 500px;

    img {
      object-position: 0 30%;
    }

    .title {
      font-size: 30px !important;
    }

    .desc {
      width: min(100%, 800px);
      color: var(--text-color-alt);
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1s ease;
  }

  &:hover img {
    scale: 1.05;
  }

  .add_to_fav {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.2s ease;

    .icon {
      color: var(--text-color);
      transition: 0.2s ease;
    }

    &:hover {
      background-color: var(--universal-color);
      border-color: var(--universal-color);
    }

    &:active .icon {
      transform: scale(1.1);
    }
  }

  .details {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    width: 100%;
    gap: 4px;
    z-index: 1;

    .title {
      color: var(--text-color);
      font-family: "Raleway", "roboto condensed", roboto, sans-serif;
      font-weight: bold;
      font-size: 18px;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 600px) {
  .movie {
    &.medium {
      min-width: 180px;
      max-width: 180px;
      height: 250px;
      padding: 10px;

      .movie_info {
        .info.genre_list {
          display: none;
        }
      }
    }

    &.long {
      min-width: 300px;
      max-width: 300px;
      height: 180px;
    }

    &.wide {
      height: 250px;

      .title {
        font-size: 25px !important;
      }

      .desc {
        -webkit-line-clamp: 2;
      }
    }
  }
}
