@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto+Condensed:wght@400;700&family=Playball&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --lg-pd: 20px;
  --sm-pd: 10px;
}

.app {
  display: flex;
  background-color: var(--bg-dark);
  color: var(--txt-clr-pri);
  height: 100vh;
  transition: background 0.2s ease;
  overflow: hidden;
  font-family: Poppins, roboto;

  --bg-dark: #0e0e0e;
  --bg-light: #141414;

  --txt-clr-pri: #ffffffd0;
  --txt-clr-sec: #ffffff9d;

  --clr-pri: #af078b;
  --clr-sec: #bd5086;

  --clr-pri: #18a3a5;
  --clr-sec: #14c6c0;

  --clr-alt: #ffffff1a;

  --pc-left-pos: 50px;
  --mobile-left-pos: 0;

  &.light_theme {
    --bg-dark: #cacaca;
    --bg-light: #ddddde;

    --clr-alt: #00000023;

    --txt-clr-pri: #000000;
    --txt-clr-sec: #000000a8;
  }

  &.cyan_theme {
    --bg-dark: #0b1d2b;
    --bg-light: #143146;
  }

  &.purple_theme {
    --bg-dark: #0d0b1b;
    --bg-light: #1b182e;
  }

  main {
    position: absolute;
    left: var(--pc-left-pos);
    right: 0;
    flex: 1;
    height: 100%;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;

    .blinds {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-dark);
      z-index: 4;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s ease;
    }

    .page {
      width: 100%;
      min-height: 100vh;
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        .placeholder_illustration {
          font-size: 200px;
        }

        .placeholder_txt {
          text-align: center;
          margin: 24px 12px;
        }
      }
    }

    .action_icon {
      font-size: 32px;
      color: var(--txt-clr-sec);
      border-radius: 50%;
      padding: 6px;
      cursor: pointer;
      border: 1px solid transparent;
      transition: 0.2s ease;

      &:hover {
        background-color: var(--clr-alt);
        border-color: var(--clr-alt);
      }
    }

    .section {
      --padding: var(--lg-pd);

      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: calc(var(--padding) * 2);

      header {
        display: flex;
        align-items: center;
        padding: 0 var(--padding);

        .section_title {
          font-size: 15px;
          font-weight: 500;
        }

        .live {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 8px;
          aspect-ratio: 1;
          background-color: #ff0000;
          margin-left: auto;
          border-radius: 50%;

          &::before {
            position: absolute;
            content: "";
            height: 10px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid #ff0000;
            animation: live 1s ease-in-out 0.5s infinite alternate;
          }
          &::after {
            position: absolute;
            content: "";
            height: 10px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid #ff0000;
            animation: live 1s ease-in-out 1s infinite alternate;
          }
          @keyframes live {
            to {
              transform: scale(3);
            }
          }
        }
      }

      .movies_wrapper {
        display: flex;
        gap: 15px;
        overflow: auto;
        padding: var(--sm-pd) var(--lg-pd);
        scroll-snap-type: x mandatory;

        .fav_wrapper {
          position: relative;
          width: 100%;
          height: 300px;
          background-color: var(--clr-alt);
          border: 1px solid var(--clr-alt);
          border-radius: 10px;
          display: flex;
          overflow: hidden;

          .fav_gif {
            margin: auto;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  // app
  &.drop_blinds main .blinds {
    opacity: 0.9;
    pointer-events: all;
    transition: 0.4s ease;
  }

  &.drop_blinds main {
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .app {
    main {
      left: var(--mobile-left-pos);

      .section {
        --padding: var(--sm-pd);

        .movies_wrapper {
          padding: var(--padding);

          .fav_wrapper {
            height: 200px;
          }
        }
      }
    }
  }
}
