.movie_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--text-color);

  span {
    opacity: 0.8;
    font-family: poppins;
  }

  .info {
    display: flex;
    gap: 4px;
    align-items: center;

    .icon {
      font-size: 18px;
    }
  }
}
